{% extends "base.html" %}

{% block title %}
Add a comment
{% endblock %}

{% block content %}
<h1>Add a comment</h1>
<h2>to '{{ pitch.name }}'</h2>

<h2>{{ pitch.pitch }}</h2>

<div class="row">
    <div class="span12">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
            {% for field in form %}
                {% include "core/_field.html" %}
            {% endfor %}
            </fieldset>            
            <button type="submit" class="btn">Add comment</button>
        </form>
    </div>
</div>

{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        $(function() {
            $('#id_user').focus();
        });
    </script>
{% endblock %}
