{% extends "base.html" %}

{% block title %}
{{ pitch.name }} : Pitch
{% endblock %}

{% block content %}
<div class="row pitch-container">
    <div class="span12">
        <h1 class='pitch-name'>{{ pitch.name }}</h1>
        <p class='pitch'>
            {% if pitch.pitch %}
                {{ pitch.pitch }}
            {% else %}
                This startup doesn't have a pitch. WTF?!
            {% endif %}
        </p>
    </div>
</div>
        
<div class="row comments-container">
    <div class="span16">
        <h3>Comments</h3>
    </div>
</div>


{% if pitch.comment_set.all %}
    {% for comment in pitch.comment_set.all %}
<div class='comment-list row'>
        <div class="vote-result span1">
            {% if comment.vote == 1 %}
                <img src="{{ STATIC_URL }}img/pro-60x60.png" />
            {% endif %}
            {% if comment.vote == -1 %}
                <img src="{{ STATIC_URL }}img/con-60x60.png" />
            {% endif %}
        </div>
        <div class="comment-item span11">
				<p>
					<span class='user'>{{ comment.user }}</span> said on
                    <span class='pub-date'>{{ comment.pub_date  }}</span>:
                </p>
                <p>
                    <span class='comment'>{{ comment.comment }}</span>
				</p>
        </div>
    </div>
{% endfor %}

<p class="prepend-top2">
    <a class="btn btn-info" href="{% url comment_add_form pitch.slug %}">Comment on this startup pitch</a>
</p>            
{% else %}
    <p class="prepend-top2">
        No comments yet. <a class="btn btn-info"  href="{% url comment_add_form pitch.slug %}">Be the first to comment!</a>
    </p>                    
{% endif %}

    {% if pitch.related_pitch_1 %}
    <div class="row ">
        <div class="span8">
            <h3>Related Concept: {{ pitch.related_pitch_title_1 }}</h3>
            {{ pitch.related_pitch_1|safe }}
        </div>
    </div>
    {% endif %}


    {% if pitch.related_pitch_2 %}
    <div class="row ">
        <div class="span8">
            <h3>Related Concept: {{ pitch.related_pitch_title_2 }}</h3>
            {{ pitch.related_pitch_2|safe }}
        </div>
    </div>
    {% endif %}

    {% if pitch.related_pitch_3 %}
    <div class="row ">
        <div class="span8">
            <h3>Related Concept: {{ pitch.related_pitch_title_3 }}</h3>
            {{ pitch.related_pitch_3|safe }}
        </div>
    </div>
    {% endif %}



{% endblock %}

