{% extends "base.html" %}

{% block title %}
{{ pitch.name }} : Pitch
{% endblock %}

{% block content %}
<div class="row">
    <div class="span16">
        <h1>{{ pitch.name }}</h1>

        <h2>{{ pitch.pitch }}</h2>

            {% if pitch.comment_set.all %}
            <div class='comment-list'>
                {% for comment in pitch.comment_set.all %}
                    <div class="vote">
                            <img alt="^" title="vote up"   src="{{ STATIC_URL }}img/arrow-up.jpg" />
                            <img alt="v" title="vote down" src="{{ STATIC_URL }}img/arrow-down.jpg" />
                    </div>
                    <div class="comment-item">
            				<p>
            					<span class='user'>{{ comment.user }}</span>
            			    <span class='vote'>{{ comment.vote }}</span>
                            <span class='comment'>{{ comment.comment }}</span>
                            <span class='pub-date'>{{ comment.pub_date  }}</span>
            				</p>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <p>No comments yet. <a href="#TODO">Be the first to comment!</a></p>
            {% endif %}

        <h3>Date Published</h3>
        <p> {{ pitch.pub_date }}</p>
    </div>
</div>

{% endblock %}

