{% extends "base.html" %}

{% block title %}
{{ pitch.name }} : Pitch
{% endblock %}

{% block content %}
<div class="row">
    <div class="span16">
        <h1>{{ pitch.name }}</h1>

        <p class="prepend-top">
            Published on {{ pitch.pub_date }}.
        </p>

        <p>
            {% if pitch.pitch %}
                {{ pitch.pitch }}
            {% else %}
                This startup doesn't have a pitch. WTF?!
            {% endif %}
        </p>

            <h3>Comments</h3>
            {% if pitch.comment_set.all %}
            <div class='comment-list row'>
                {% for comment in pitch.comment_set.all %}
                    <div class="vote-result span1">
                        {% if comment.vote == 1 %}
                            <img src="{{ STATIC_URL }}img/pro-60x60.png" />
                        {% else %}
                            <img src="{{ STATIC_URL }}img/con-60x60.png" />
                        {% endif %}
                    </div>
                    <div class="comment-item span11">
            				<p>
            					<span class='user'>{{ comment.user }}</span> said on
                                <span class='pub-date'>{{ comment.pub_date  }}</span>:
                            </p>
                            <p>
                                <span class='comment'>{{ comment.comment }}</span>
            				</p>
                    </div>
                {% endfor %}
            </div>

            <p class="prepend-top2">
                <a class="btn" href="{% url comment_add_form pitch.slug %}">Comment on this startup pitch</a>
            </p>            
            {% else %}
                <p class="prepend-top2">
                    No comments yet. <a class="btn"  href="{% url comment_add_form pitch.slug %}">Be the first to comment!</a>
                </p>                    
            {% endif %}
    </div>
</div>

{% endblock %}

