.vote
{
        width: 15px;
        float: left; clear: left;
}

.vote img
{
        display: block;
        float: none; clear: both;
        padding-top: 2px;
}

.user {
    font-weight: 700;
}

.pub-date {
    font-weight: 700;
}