.vote
{
        width: 15px;
        float: left; clear: left;
}

.vote img
{
        display: block;
        float: none; clear: both;
        padding-top: 2px;
}

.user {
    font-weight: 700;
}

.pub-date {
    font-weight: 700;
}

#pitch-list{
  padding-top:30px;
  padding-left:0;
  margin-left:0;
  width:800px;
}

#pitch-list li{
  display:block;
  float:left;
  list-style-type:none;
  width:100%;
  padding-left:0px;
  margin-left:0;
  border-bottom:1px solid rgba(0,0,0,.2);
  margin-bottom:15px;
}

#pitch-list li h2{
  font-size:24px;
  font-weight:bold;
}

#pitch-list li p{
  
}

.prepend-top{margin-top:12px;}
.prepend-top2{margin-top:24px;}

span.score{font-size:24px;line-height:32px;float:left;width:40px;}
span.score.negative{color:#c00}
span.score.positive{color:#0c0}